@import url('https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;700&display=swap');
.Login, .Ingresar{
	width:545px;
	height:545px;
	margin-left: 30%;
	border: 8px solid black;
	border-radius: 40px;
	text-align: center;
	padding: 20px;
	box-sizing: border-box;
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 30px;
	align-items: center;
	
}

.popup {
    position: absolute;
    left: 50%;
    top: -100%;
    z-index: -1;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    border: 8px solid black;
    border-radius: 40px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.popup.open {
	top: 50%;
}

.Nombre{
	color: #B6B6B6;
	font-family:Inter;
	text-align:center	;
	font-size:100%;
	letter-spacing:0;
	flex-grow: 1;
}

.Apellido{
	color:rgb(0, 0, 0);
	font-family:Inter;
	text-align:center;
	font-size:100%;
	letter-spacing:0;
	flex-grow: 1;
}

.Email{
    color:rgb(0, 0, 0);
	font-family:Inter;
	text-align:center;
	font-size:100%;
	letter-spacing:0;
}

.Contraseña{
    color:rgb(0, 0, 0);	
	font-family:Inter;
	text-align:center;
	font-size:100%;
	letter-spacing:0;
	flex-grow: 1;
}

.ConfContraseña{
    color:rgb(0, 0, 0);	
	font-family:Inter;
	text-align:center;
	font-size:100%;
	letter-spacing:0;
	flex-grow: 1;
}

.botoncitoCrearSesion, .botoncitoIngresar{
	background-color:rgb(0, 0, 0);
	width:50px;
	height:50px;
	font-family:Inter;
	text-align:center;
	font-size: 160%;
	letter-spacing:0;
	border-radius: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	align-self: flex-end;
}

.palabraBotonCS{
	width: 40px;
	height: 40px;
	color: rgb(255, 255, 255);
}

.registrarse, .Bienvenido{
	height:60px;
	width: 350px;
	/*background-image:url("./diseñosPedro/images/registrarse.png");
	background-repeat:no-repeat;
	background-position: center;
	background-size: contain;*/
	font-size: 53.5px;
	margin-top: 20px;
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}

.nuevaCampania{
	width: 350px;
	font-size: 45px;
	margin-top: 20px;
	font-family: 'Sora', sans-serif;
	font-weight: 700;
	letter-spacing: 3px;
}

.input {
	display: inline-block;
	padding: 8px;
	font-size: 18px;
	border-radius: 15px;
	border: 2px solid #cac7c7;

	width: 100%;
	height: 60px;
	font-family: inter;
	background: #cac7c7;
}

.input.email{
	width: 100%;
}

.checkboxes{
	display: flex;
    justify-content: center;
	align-items: center;
	font-size: 1.8rem;
	gap: 20px;
	color: black;
}

.checkbox {
	display: flex;
	gap: 10px;
	align-items: center;
}

.NomYApe, .ContraYConf {
	display: flex;
	gap: 20px;
}

.inputText {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.form {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 40px;
	width: 350px;
}

.ultimalinea {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

.PostaUltLinea{
	display: flex;
	width: 100%;
	justify-content: space-between;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Epilogue', sans-serif;
}

.palabraCheck{
	font-size: 20px;
}

.YaTengoCuenta{
	font-style: italic;
	color: black;
}

.VolverAlInicio{
	font-style: italic;
	color: black;
}

