.navcontenedor{
    background: rgb(189, 182, 182);
    font-size: 35px;
    padding: 3vh;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .activo{
    color: #adaaa9;
    text-decoration: underline;
    display: inline;
    margin-right: 6vh;
  }
  
  .desactivo{
    color: #adaaa9;
  text-decoration: none;
  display: inline;
  margin-right: 6vh;
  }